.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# local ArmoniK config / secrets
*.yaml
*.yml

# temporary outputs
results/tmp/
results/raw/

# SEM3D / Fathi benchmark generated outputs
res/
Rsem*/
prot/
traces/
sem/
*.h5
*.xmf
output.solver
output.mesher
fin_sem
stat.log
__pycache__/
.venv/
.ipynb_checkpoints/
